Port 22
AddressFamily any

PermitRootLogin no
MaxAuthTries 6
MaxSessions 10
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
UsePAM yes

X11Forwarding no
PrintMotd no

Subsystem sftp /usr/lib/ssh/sftp-server
